<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Главная страница</title>
    <link rel="stylesheet" href="{{ url_for(".static",filename = 'style.css') }}">
</head>
<body>

<main>

    <h1>Поиск постов</h1>

      {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                <div>
                    <p>{{ message }}</p>
                </div>
            {% endfor %}
        {% endif %}
    {% endwith %}


    <form action="list" method="get">
        <p>По вхождению слова</p>
        <input type="text" name="s">
        <input type="submit" value="Найти" class="button">
    </form>

    <hr>

    <a href="../loader/post" class="button">Добавить пост</a>

</main>
</body>
</html>
